nav {
    /* background-color: rgb(77, 153, 153); */
}
ul {
    background-color: rgb(120, 202, 104);
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;

}
li {
    float: left;
    border-right: 1px solid white;
}
li a {
    text-decoration: none;
    color: white;
    padding: 14px 25px;
    text-align: center;

}
a {

}
.active {

}